<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Loading Flat UI -->
  <link href="stylesheets/flat-ui.css" rel="stylesheet">

  <link rel="shortcut icon" href="../../dist/img/favicon.ico">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="codemirror/theme/abcdef.css"/>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>




  <title>picoShell</title>
</head>

<body>
    <div id="app"></div>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/javascripts/flat-ui-application.js"></script>

  <script src="/javascripts/flat-ui.js"></script>

  <script>
    $(document).ready(function(){
      $('select[name="inverse-dropdown"], select[name="inverse-dropdown-optgroup"], select[name="inverse-dropdown-disabled"]').select2({dropdownCssClass: 'select-inverse-dropdown'});

      $('select[name="searchfield"]').select2({dropdownCssClass: 'show-select-search'});
      $('select[name="inverse-dropdown-searchfield"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
    });
  </script>

  <script
    src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <script src="/javascripts/bootstrap/bootstrap.js" type="text/javascript"></script>

  <script type="text/javascript" src="codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="codemirror/mode/python/python.js"></script>
  
  <script src="codemirror/addon/selection/active-line.js"></script>
  <script src="codemirror/addon/edit/matchbrackets.js"></script>
  <script src="codemirror/addon/edit/closebrackets.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/dist/bundle.js"></script>
</body>
</html>
