<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- Loading Flat UI -->

  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/codemirror/theme/abcdef.css"/>
  <link rel="stylesheet" href="/codemirror/theme/monokai.css"/>
  <link rel="stylesheet" href="/codemirror/addon/scroll/simplescrollbars.css"/>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>





  <title>picoShell</title>
</head>

<body>
    <div id="app"></div>

    <script src="/dist/lib/javascriptsbuild.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  <script src="/dist/bundle.js"></script>
</body>
</html>
