$offwhite: #F4F6F7;
$offblack: #242327;
$darkblack: #191919;
$lightblue: #638898;
$purpleblue: #b2baef;
$white: #FFFFFF;
$brightgreen: #03CEA1;
$lightgrey: #7B7373;
$darkgrey: #262626;

$themedarkpurple: #271F42;
$themewhite: #FEFEFE;
$thememidpurple: #90728C;
$themelightpurple: #DCDAED;
$themeorange: #E1905B;
$themegrey: #CFCED6;
$themetan: #DFC2A8;
$themered: #e15b69;
$themeyellow: #e1d35b;
$themelightblue:  #5bace1;
$thememiddarkpurple: #5b69e1;
$themebrightblue: #3AC4FF;
$themebrightpurple: #7156FB;
$translucentdarkpurple: rgba(91,105,225,0.5);
$translucentbrightpurple: rgba(113,86,251,0.5);
$translucentred: rgba(225,91,105,0.95);

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

$work: 'Work Sans', sans-serif;
$franklin: 'Libre Franklin', sans-serif;
$dosis: "Dosis", Helvetica, Arial, sans-serif;

body {
  font: 14px "Dosis", Helvetica, Arial, sans-serif;
  background-color: $offblack;
  margin: 0;
  padding: 0;
}

.centered {
   text-align: center;
   font-size: 0;

   div {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 13px;
   }
}

#terminal {
  width: 100%;
  height: 400px;
}

.fileBrowser {
  color: $brightgreen;
}













//DASHBOARD
.code-editor-container {
  padding: 0;
  margin: 0;
  height: 620px;
  .current-file {
    color: $brightgreen;
    font-weight: bold;
    text-align: right;
    padding: 0;
    margin: 0;
  }
  .code-saved-indicator {
    color: $brightgreen;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  .code-modified-indicator {
    color: $themeorange;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
}

.profile-picture-container {
  .img-container {
    text-align: center;
    padding-top: 25px;
    img {
      text-align: center;
      padding: 20px 20px 0 20px;
      width: 200px;
    }
  }
  .username{
    color: $offwhite;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
  }
}

.card-container {
  .header {
    padding: 10px 0 0 10px;
    border-bottom: 1px solid $offblack;
    margin: 0px;
    background-color: rgba(38,38,38,0.6);
    text-align: center;
    color: rgba(255,255,255, 0.4);;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 12px;
  }
  .information {
    padding: 20px;
    color: $themewhite;
    .title {
      color: $themewhite;
      font-size: 16px;
      padding-top: 7px;
    }

    .info {
      font-size: 15px;
      color: $themewhite;
      padding-bottom: 10px;
    }

    .collaborators {
      font-size: 25px;
      float: none;
    }

    .none {
      font-size: 25px;
      color: $offwhite;
    }

    form {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .collaborators-input {
      margin: 5px;
      background: rgba(36, 35, 39, 0.6);
      border: 0;
      color: $themewhite;
      width: 90%;
      padding: 5px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    .collaborators {
      font-size: 25px;
      color: $themewhite;
    }

    .collab-card-top {
      padding: 15px 15px 30px 15px;
      .left {
        background-color: $translucentdarkpurple;
        padding: 20px;
        .title {
          color: $themewhite;
        }
        .info {
          color: $themewhite;
        }
      }

      .right {
        background-color: $translucentbrightpurple;
        padding: 20px;
        .title {
          color: $themewhite;
        }
        .info {
          color: $themewhite;
        }
      }
    }

    .collab-card-bottom {
      padding: 0px 15px 30px 15px;

      .left {
        background-color: $translucentbrightpurple;
        padding: 20px;
        .title {
          color: $themewhite;
        }
        .info {
          color: $themewhite;
        }
      }

      .right {
        background-color: $translucentdarkpurple;
        padding: 20px;
        .title {
          color: $themewhite;
        }
        .info {
          color: $themewhite;
        }
      }
    }

    .inline-edit {
      width: 100px;
      word-wrap: break-word;
      font-weight: none;
    }

    .center {
      text-align: center;
    }

    .btn-success {
      background-color: $brightgreen;
      border-color: $brightgreen;
      border-radius: 0;
      width: 90%;
      padding: 2px 6px 2px 2px;
      margin: 2px;

      &:hover {
       background-color: $purpleblue;
       border-color: $purpleblue; 
      }
    }
  }
}

.dashboard-container {
  height: 100%;
  width: 100%;
  background-image: url('/images/geometric.png');
  background-color: $white;

  .overlay {
    background: rgba(0,0,0,0.6);

    .contain {
      padding: 10px 10px 10px 10px;

      .card {
        text-align: center; 
        height: 100%;
        background: rgba(36,35,39,0.8);
        border-radius: 0;
        width: 100%;
        margin: 10px, 20px, 5px, 5px;
        box-shadow: 3px 3px 1px rgba(0, 0, 0,0.5);
      }
    }
  }


}




















//NAVBAR
.navbar {
  height: 100%;
  background-color: $themedarkpurple;
  border-radius: 0;
  padding: 2px;
  margin: 0;
  min-height: 0;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    li {
      display: inline;
      padding: 0 5px 0 5px;
      a {
        text-decoration: none;
        color: $offwhite;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .logout {
      cursor: pointer;
      color: $offwhite;
    }
    .username {
      color: $offwhite;
      font-weight: bold;
      padding-left: 10px;
      font-size: 1.3em;
    }
  } 

  .logo {
    font-family: Dosis-Regular;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;

    a {
      img {
        width: 25px;
        margin-bottom: 4px;
      }
    }
  }
}




















//HOMEPAGE

.homepage-container {
	width: 100%;
	background-color: $white;
	.header {
		background-image: url('/images/background.svg');
		width: 100%;
		height: 720px;
    padding: 0;
    margin: 0;
		overflow: hidden;

    img {
      width: 500px;

    }
  }

  .subtitle {
    color: $themewhite;
    text-align: center;
    padding-top: 100px;
    font-family: $work;
    font-size: 3em;
  }

  .subsubtitle {
    color: $themegrey;
    text-align: center;
    padding-top: 0;
    font-family: $franklin;
    font-size: 1em;
    padding-bottom: 30px;
  }

  .logo {
    background-color: $themedarkpurple;
    margin: 0;
    padding: 5px;
    a {
      font-family: Dosis-Regular;
      font-size: 20px;
      color: #FFFFFF;
      text-align: left;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
      img {
        width: 40px;
      }
  }

  .logo-container {
    padding-top: 10px;
    text-align: center;
    .title {
      font-family: Dosis-Regular;
      font-size: 120px;
      color: #FFFFFF;
      text-align: center;
    }
	}

  .login-container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
    .login-header {
      background: rgba(36, 35, 39, 0.6);
      color: $themewhite;
      margin-left: 100px;
      margin-right: 100px;
      padding: 10px;
      height: 100%;
      font-family: $work;
      font-size: 20px;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); 
    }
    .login-box {
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 100px;
      height: 100%;
      background: rgba(36, 35, 39, 0.4);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      font-family: $work;

      .login {
        .login-input {
          margin: 5px;
          background: rgba(36, 35, 39, 0.6);
          border: 0;
          color: $offwhite;
          width: 90%;
          padding: 5px;

          &:focus {
            outline: none;
          }
        }
        .login-query-container {
          padding: 5px;
          .login-query {
            color: $themewhite;
            cursor: pointer;

            &:hover {
              color: white;
              text-decoration: none;
            }
          }
        }
        .btn-success {
          background-color: $thememidpurple;
          border-color: $thememidpurple;
          border-radius: 0;
          width: 90%;
          padding: 2px;
          margin: 2px;
          color: $themewhite;

          &:hover {
           background-color: $purpleblue;
           border-color: $purpleblue; 
           color: $themewhite;
          }
        }
      }
    }
  }
}

.error {
  color: $white;
  font-size: 120px;
}


















/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 90%;
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: $darkblack; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: $darkblack;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

